@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "sonata";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #020617;
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: #7c3aed;
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: #2563eb;
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: #6366f1;
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: #0f172a;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #3abff8;
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: #36d399;
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: #fbbd23;
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: #f87272;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  /* Remove flex and place-items */
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-base-100); /* Uses your #020617 */
  color: white;
}

#root {
  width: 100%;
  min-height: 100vh;
}